@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');



*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: auto;
}

/* primaryNavbar starts */

.primaryNavbar{
    height: 4.75rem;
    width: 100%;
    background-color: #ffffff;
    border-bottom: 1px solid #eeeeee;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 4rem;
}

.primaryNavbar li{
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

.primaryNavbar li img{
    height: 1.5rem;
    width: 1.5rem;
    opacity: 0.4;
    cursor: pointer;
    transition: 0.3s;
}

.primaryNavbar li img:hover{
    opacity: 1;
}

.navTitle{
    font-family: 'Poppins',sans-serif;
    font-size: 1rem;
    text-decoration: none;
    color: #3f3f3f;
    font-weight: 600;
}

.navTitle span{
    font-weight: 300;
    color: #292929;
}

/* primaryNavbar ends */

/* secondaryNavbar starts */

.secondaryNavbar{
    height: auto;
    width: 100%;
    padding: 1.75rem 0;
    position: sticky;
    top: 0;
    left: 0;
    background-color: #ffffff;
    z-index: 10;
   transition: 0.5s;
}

.secondaryNavbar ul{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

.secondaryNavbar ul li{
    list-style: none;
    margin: 0 1rem;
}

.secondaryNavbar ul li a{
    text-decoration: none;
    color: #686868;
    font-size: 0.9rem;
    font-weight: 500;
    font-family: 'Poppins', sans-serif;
    transition: 0.3s;
    text-transform: uppercase;
}

.secondaryNavbar ul li a:hover{
    color: #000000;
}


/* secondaryNavbar ends */

/* heroSection starts */

.heroSection{
    height: 625px;
    width: 100%;
    background-color: ;
    padding: 0 6.5rem;
}

.innnerHeroSection{
    height: 100%;
    width: 100%;
    background-image: url('images/4.jpg');
    background-size: cover;
    transition: background 0.3s ease;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 4rem 2rem;
}



/* heroSection ends */


/* servicesBarContainer starts */

.servicesBarContainer{
    height:7rem;
    width: 60%;
    background-color: #fff;
    margin: 0 auto;
    box-shadow: 0px 10px 15px #00000010;
    margin-top: -3.5rem;
    border-radius: 0rem;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: row;
    border-bottom: 0.25rem solid #ffdc41;

}

.servicesBarContainer li{
    list-style: none;
}

.servicesBarContainer li a{
    text-decoration: none;
    color: #4d4d4d;
    font-size: 1rem;
    font-family: 'Poppins', sans-serif;
}

/* servicesBarContainer ends */

/* aboutSection starts */

.aboutSection{
    height: 700px;
    width: 100%;
    padding: 2rem 0;
    margin-top: 4rem;
}

.mainAboutSection{
    height: 100%;
    width: 100%;
    background-color: ;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

.mainAboutSectionLeft{
    height: 100%;
    width: 50%;
    background-color: ;
}

.mainAboutSectionRight{
    height: 100%;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items:center;
    padding-bottom: 4rem;
}

.cardContainer{
    width: 80%;
    height: 100%;
    background-color: #ffffff;
    border: 1px solid #eeeeee;
    box-shadow: 0px 10px 15px #00000010;
}

.aboutMap{
    height: 80%;
    width: 100%;
}

.mainAboutSectionHeader{
    font-family: 'Poppins', sans-serif;
    font-size: 4rem;
    color: #333333;
    font-weight: 600;
    padding: 7rem 0rem 0 5.5rem;
}

.mainAboutSectionSecHeader{
    font-family: 'Poppins', sans-serif;
    font-size: 1rem;
    color: #696969;
    font-weight: 400;
    padding: 1rem 0rem 0 5.5rem;
}

/* aboutSection ends */

/* portfolioSection starts */

.portfolioSection{
    height: 1500px;
    width: 100%;
    background-color: ;
    margin-bottom: 50px;
}

.exploreHeader{
    font-family: 'Poppins', sans-serif;
    font-size: 4rem;
    text-align: left;
    color: #333333;
    font-weight: 600;
    padding: 0 0 3rem 5.5rem;
}

.portfolioItemsHolder{
    width: 100%;
    height: auto;
    padding: 0 5.5rem;
}

.portfolioRow1{
    height: 20rem;
    width: 100%;
    background-color: ;
    margin-bottom: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

.leftR1{
    width: 35%;
    height: 100%;
    background-color: #dfdfdf;
    margin-right: 1rem;
    background-image: url('images/8.jpg');
    background-size: cover;
    transition: 0.3s all;
}


.rightR2{
    width: 63%;
    height: 100%;
    background-color: #dfdfdf;
    background-image: url('images/3.jpg');
    background-size: cover;
}


.portfolioRow2{
    height: 20rem;
    width: 100%;
    background-color: ;
    margin-bottom: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

.portfolioRow2 .leftR1{
    width: 63%;
    height: 100%;
    background-color: #dfdfdf;
    margin-right: 1rem;
    background-size: cover;
    background-image: url('images/2.jpg');
}

.portfolioRow2 .rightR2{
    width: 35%;
    height: 100%;
    background-color: #dfdfdf;
    background-size: cover;
    background-image: url('images/5.jpg');
}


.portfolioRow3{
    height: 20rem;
    width: 100%;
    background-color: ;
    margin-bottom: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

.portfolioRow3 .leftR1{
    width: 49%;
    height: 100%;
    background-color: #dfdfdf;
    margin-right: 1rem;
    background-size: cover;
    background-image: url('images/6.jpg');
}

.portfolioRow3 .rightR2{
    width: 49%;
    height: 100%;
    background-color: #dfdfdf;
    background-size: cover;
    background-image: url('images/7.jpg');
}


.portfolioRow4{
    height: 20rem;
    width: 100%;
    background-color: ;
    margin-bottom: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

.leftR4{
    width: 35%;
    height: 100%;
    background-color: #dfdfdf;
    margin-right: 1rem;
    background-image: url('images/4.jpg');
    background-size: cover;
    transition: 0.3s all;
}


.rightR4{
    width: 63%;
    height: 100%;
    background-color: #dfdfdf;
    background-image: url('images/1.jpg');
    background-size: cover;
}

/* portfolioSection ends */

/* bookingContainer starts */

.bookingContainer{
    height: 650px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    padding-bottom: 70px;
}

.leftbookingSection{
    height: 100%;
    width: 45%;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    padding-top: 2rem;
}

.bookUsContainer{
    font-family: 'Poppins', sans-serif;
    font-size: 4rem;
    text-align: left;
    color: #333333;
    font-weight: 600;
    padding: 0 0 0rem 5.5rem;
}

.subBookUsContainer{
    font-family: 'Poppins', sans-serif;
    font-size: 1rem;
    color: #696969;
    font-weight: 400;
    padding: 0rem 0rem 0 5.5rem;
}

.rightBookingSection{
    height: 100%;
    width: 55%;
}

.bookingForm{
    height: 100%;
    width: 100%;
    background-color: ;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
   
}

.bookingForm input{
    width: 50%;
    margin-bottom: 1rem;
    border: none;
    font-family: 'Poppins', sans-serif;
    font-size: 1rem;
    color: #333333;
    padding: 1.25rem 1.25rem;
    border: 1px solid #eeeeee;
    border-radius: 0.3rem;
}

.bookingForm input:focus{
    outline: none;
}

.bookMeButton{
    border: none;
    background: linear-gradient(to bottom right, rgb(255, 216, 42), #ffa114);
    font-family: 'Poppins', sans-serif;
    font-size: 1rem;
    padding: 1rem 3rem;
    width: 50%;
    color: #ffffff;
    transition: 0.3s;
    cursor: pointer;
    box-shadow: 0px 8px 15px #ffa1143b;
    border-radius: 0.3rem;
    
}

.bookMeButton:hover{
    box-shadow: 0px 8px 15px #ffa11477;
}

.bookMeButton:focus{
    outline: none;
}

/* bookingContainer ends */

/* footer starts */

.footer{
    height: 400px;
    width: 100%;
    background-color: #fafafa;
    border-top: 1px solid #ebebeb;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    padding-top: 2.5rem;
}

.footerTitle .navTitle{
    font-size: 1rem;
}

.footerTitle{
    margin-bottom: 3.5rem;
}

.navAddress{
    font-family: 'Poppins', sans-serif;
    font-size: 0.9rem;
    color: #9c9c9c;
    text-align: center;
    margin-bottom: 3rem;
}

.horizontal{
    width: 40%;
    height: auto;
    border-bottom: 1px solid #c0c0c0;
    margin-bottom: 2rem;
}

.footerSocial{
    height: auto;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    
}

.footerSocial li{
    list-style: none;
    margin: 0 1.5rem;
}

.footerSocial li a img{
    height: 2rem;
    width: 2rem;
    opacity: 0.5;
    transition: 0.3s;
}

.footerSocial li a img:hover{
    opacity: 1;
}

/* footer ends */

/* overlayContainer starts */

@keyframes overlayVisible{
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}

.overlayContainer{
    height: 100vh;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #00000073;
    z-index: 50;
    animation-name: overlayVisible;
    animation-duration: 0.5s;
    display: flex;
    justify-content: center;
    align-items: center;
    display: none;
}

.packageContainer{
    height: 35rem;
    width: 55rem;
    background-color: #fff;
    border-radius: 0.3rem;
    box-shadow: 0px 10px 15px #00000067;
}

.closePackageControl{
    width: 100%;
    padding: 1.5rem;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    padding-bottom: 0.5rem;
}

.closePackageControl img{
    height: 1.25rem;
    width: 1.25rem;
    opacity: 0.5;
    cursor: pointer;
    transition: 0.3s;
}

.closePackageControl img:hover{
    opacity: 0.7;
}

.packagesHeader{
    font-family: 'Poppins', sans-serif;
    font-size: 2rem;
    text-align: left;
    color: #5c5c5c;
    font-weight: 600;
    padding: 0 0 0rem 4rem;
}

.packagesListContainer{
    padding: 2rem 3rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.packagesListContainer li{
    list-style: none;
    /* border: 1px solid #eeeeee; */
    padding: 1.75rem;
    width: 15rem;
    height: 10rem;
    border-radius: 0.3rem;
    margin: 0.5rem;
    transition: 0.3s all;
    font-family: 'Poppins', sans-serif;
    font-size: 1.25rem;
    color: #7a7a7a;
    font-weight: 500;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    cursor: pointer;
}

.packagesListContainer li:first-child{
    color: #494949;
    background: linear-gradient(to bottom right,  #f7f7f7, #dddddd);
}

.packagesListContainer li:nth-child(2){
    color: #ffffff;
    background: linear-gradient(to bottom right, #f0ff6d, #afff6d);
}


.packagesListContainer li:nth-child(3){
    color: #ffffff;
    background: linear-gradient(to bottom right,  rgb(255, 178, 178), rgb(167, 41, 41));
}

.packagesListContainer li:nth-child(4){
    color: #494949;
    background: linear-gradient(to bottom right,  #f7f7f7, #f7f7f7);
}


.packagesListContainer li:nth-child(5){
    color: #ffffff;
    background: linear-gradient(to bottom right,  rgb(255, 224, 86), #ffa927);
}

.packagesListContainer li:last-child{
    color: #494949;
    border: 1px solid #eeeeee;
    background: linear-gradient(to bottom right,  #ffffff, #f7f7f7);
}



/* overlayContainer ends */

/* mailNotification starts */

.mailNotification{
    width: 30rem;
    height: auto;
    background-color: #f1464f; /* s 45dd31 e f1464f*/
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    padding: 2rem 3rem;
    border-radius: 0.3rem;
    box-shadow: 0px 15px 25px #00000020;
    position: fixed;
    z-index: 50;
    top: 2rem;
    left: 2rem;
    font-family: 'Poppins', sans-serif;
    font-size: 1rem;
    color: #ffffff;
    margin-left: -32rem;
    transition: 0.3s;
}

/* mailNotification ends */


@media only screen and (max-width: 600px) {

    .primaryNavbar{
        height: 4.5rem;
        width: 100%;
        background-color: #ffffff;
        border-bottom: 1px solid #eeeeee;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 1.25rem;
        position: sticky;
        top: 0;
        left: 0;
        z-index: 20;
    }


    @keyframes navMenu{
        from{
            height: 0;
            opacity: 0;
        }
        to{
            height: auto;
            opacity: 1;
        }
    }



    .secondaryNavbar{
        height: auto;
        width: 12rem;
        padding: 1rem 0;
        position: fixed;
        top: 3.5rem;
        left: 1.25rem;
        background-color: #fff;
        border: 1px solid #eeeeee;
        z-index: 25;
        box-shadow: 0px 15px 15px #0000001e;
        border-radius: 0rem;
        overflow: hidden;
        animation-name: navMenu;
        animation-duration: 0.5s;
        display: none;
        transition: 0.3s;
        padding-bottom: 2rem;
        padding-top: 1rem;
    }

    .secondaryNavbar ul{
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        flex-direction: column;
    }

    .secondaryNavbar ul li{
        list-style: none;
        margin: 0.75rem 1.75rem;
        transition: 0.3s;
    }

    .secondaryNavbar ul li:first-child{
        margin-top: 0.5rem;
    }

    .heroSection{
        height: 625px;
        width: 100%;
        background-color: ;
        padding: 0 1rem;
        margin-top: 1rem;
    }

    .innnerHeroSection{
        background-position: center;
    }

    .servicesBarContainer{
        height:7rem;
        width: 80%;
    
    }


    .mainAboutSection{
        height: 100%;
        width: 100%;
        background-color: ;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    .mainAboutSectionLeft{
        height: 30%;
        width: 100%;
        background-color: ;
    }

    .mainAboutSectionRight{
        height: 70%;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items:center;
        padding-bottom: 0rem;
    }

    .cardContainer{
        width: 80%;
        height: 100%;
        background-color: #ffffff;
        border: 1px solid #eeeeee;
        box-shadow: 0px 10px 15px #00000010;
    }

    .mainAboutSectionHeader{
        font-size: 3.5rem;
        font-weight: 600;
        padding: 0rem 0rem 0 0rem;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    .mainAboutSectionSecHeader{
        font-size: 0.8rem;
        padding: 0.5rem 3rem 0 3rem;
        text-align: center;
    }


    .bookingContainer{
        height: 700px;
        flex-direction: column;
        padding-bottom: 70px;
    }

    .leftbookingSection{
        height: 30%;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        padding-top: 2rem;
    }

    .bookUsContainer{
        font-family: 'Poppins', sans-serif;
        font-size: 3.5rem;
        font-weight: 600;
        padding: 0 3rem 0rem 3rem;
    }

    .subBookUsContainer{
        font-family: 'Poppins', sans-serif;
        font-size: 1rem;
        color: #696969;
        font-weight: 400;
        padding: 0.5rem 3.5rem 0rem 3.5rem;
        text-align: center;
    }

    .rightBookingSection{
        height: 70%;
        width: 100%;
    }

    .bookingForm input{
        width: 80%;
        margin-bottom: 0.75rem;
        border: none;
        font-family: 'Poppins', sans-serif;
        font-size: 0.9rem;
        color: #333333;
        padding: 1rem 1.25rem;
        border: 1px solid #eeeeee;
        border-radius: 0.3rem;
    }

    .bookingForm input::placeholder{
        color: #808080;
    }

    .bookingForm input:focus{
        outline: none;
    }

    .bookMeButton{
        border: none;
        background: linear-gradient(to bottom right, rgb(255, 216, 42), #ffa114);
        font-family: 'Poppins', sans-serif;
        font-size: 1rem;
        padding: 1rem 3rem;
        width: 80%;
        color: #ffffff;
        transition: 0.3s;
        cursor: pointer;
        box-shadow: 0px 8px 15px #ffa1143b;
        border-radius: 0.3rem;
        
    }

    .navAddress{
        color: #9c9c9c;
        text-align: center;
        margin-bottom: 3rem;
        padding: 0 5rem;
    }

    .footerSocial li{
        list-style: none;
        margin: 0.5rem 1rem;
    }

    .servicesBarContainer li a{
        font-size: 0.9rem;
    }

    .exploreHeader{
        font-family: 'Poppins', sans-serif;
        font-size: 4rem;
        text-align: center;
        color: #333333;
        font-weight: 600;
        padding: 2rem 0 3rem 0rem;
    }

    .portfolioSection{
        height: 1800px;
        width: 100%;
        background-color: ;
        margin-bottom: 50px;
    }
    

    .portfolioItemsHolder{
        width: 100%;
        height: auto;
        padding: 0 2.5rem;
    }

    .portfolioRow1{
        height: 25rem;
        width: 100%;
        background-color: ;
        margin-bottom: 0.5rem;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    .leftR1{
        width: 100%;
        height: 50%;
        background-color: #dfdfdf;
        margin-right: 0rem;
        background-image: url('images/8.jpg');
        background-size: cover;
        transition: 0.3s all;
        margin-bottom: 0.5rem;
    }


    .rightR2{
        width: 100%;
        height: 50%;
        background-color: #dfdfdf;
        background-image: url('images/3.jpg');
        background-size: cover;
    }

    .portfolioRow2{
        height: 25rem;
        width: 100%;
        background-color: ;
        margin-bottom: 0.5rem;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    .portfolioRow2 .leftR1{
        width: 100%;
        height: 50%;
        background-color: #dfdfdf;
        margin-right: 0rem;
        background-size: cover;
        background-image: url('images/2.jpg');
    }

    .portfolioRow2 .rightR2{
        width: 100%;
        height: 50%;
        background-color: #dfdfdf;
        background-size: cover;
        background-image: url('images/5.jpg');
    }


    .portfolioRow3{
        height: 25rem;
        width: 100%;
        background-color: ;
        margin-bottom: 0.5rem;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    .portfolioRow3 .leftR1{
        width: 100%;
        height: 50%;
        background-color: #dfdfdf;
        margin-right: 0rem;
        background-size: cover;
        background-image: url('images/6.jpg');
    }

    .portfolioRow3 .rightR2{
        width: 100%;
        height: 50%;
        background-color: #dfdfdf;
        background-size: cover;
        background-image: url('images/7.jpg');
    }


    .portfolioRow4{
        height: 25rem;
        width: 100%;
        background-color: ;
        margin-bottom: 0.5rem;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    .leftR4{
        width: 100%;
        height: 50%;
        background-color: #dfdfdf;
        margin-right: 0rem;
        background-image: url('images/4.jpg');
        background-size: cover;
        transition: 0.3s all;
        margin-bottom: 0.5rem;
    }


    .rightR4{
        width: 100%;
        height: 50%;
        background-color: #dfdfdf;
        background-image: url('images/1.jpg');
        background-size: cover;
    }


    .overlayContainer{
        height: 640px;
    }

    .packageContainer{
        height: 35rem;
        width: 90%;
    }

    .closePackageControl{
        padding: 1.25rem;
    }

    .packagesHeader{
        font-family: 'Poppins', sans-serif;
        font-size: 2rem;
        text-align: center;
        padding: 0 0 0rem 0rem;
    }

    .packagesListContainer{
        padding: 1.5rem 1rem;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }

    .packagesListContainer li{
        list-style: none;
        padding: 0.75rem;
        width: 42.5%;
        height: 6rem;
        font-family: 'Poppins', sans-serif;
        font-size: 0.9rem;
        color: #7a7a7a;
        font-weight: 500;
        display: flex;
        justify-content: flex-end;
        align-items: flex-end;
    }

    .mailNotification{
        width: 20.5rem;
        height: auto;
        background-color: #f1464f;
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0 auto;
        padding: 2rem 3rem;
        border-radius: 0.3rem;
        box-shadow: 0px 15px 25px #00000020;
        position: fixed;
        z-index: 50;
        top: 1rem;
        left: 1rem;
        font-family: 'Poppins', sans-serif;
        font-size: 0.9rem;
        color: #ffffff;
        margin-left: -21.5rem;
        transition: 0.3s;
    }


} 